# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# VSCode
.vscode/

# PyCharm
.idea/

# Build files
build/
dist/

# Qt Designer files
*.ui.autosave

# Environment variables / secrets
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db